<!-- start custom head snippets -->
<!-- Firoj Alam' Page -->
<section id="header" class="skel-layers-fixed">
    <header>
        <span class="image avatar"><img src="{{ site.baseurl }}/images/avatar.jpg" alt="" /></span>
        <h1 id="logo"><a href="{{ site.baseurl }}/">Willis Corto</a></h1>
        <p>I got reprogrammed by a rogue AI<br />
        and now I'm totally cray</p>
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/manifest.json">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="theme-color" content="#ffffff">        
    </header>
    <nav id="nav">
        <ul>
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
            <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
        </ul>
    </nav>
    <footer>
        <ul class="icons">
            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
            <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
        </ul>
    </footer>
</section>

<!-- insert favicons. use http://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
