{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: 'list' }}__item">
  <article class="card-wrapper" itemscope itemtype="https://schema.org/CreativeWork">
    <div class="card post-preview flex-md-row-reverse">
      {% if include.type == "grid" and teaser %}
        <div class="preview-img">
          <img src="{{ teaser | relative_url }}" alt="">
        </div>
      {% endif %}
      <div class="card-body d-flex flex-column">
        <h2 class="card-title my-2 mt-md-0" itemprop="headline">
          {% if post.link %}
            <a href="{{ post.link }}">{{ title }}</a> <a href="{{ post.url | relative_url }}" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
          {% else %}
            <a href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a>
          {% endif %}
        </h2>
        {% if post.excerpt %}
          <p class="card-text post-content mt-0 mb-2" itemprop="description">
            {{ post.excerpt | markdownify | strip_html | truncate: 200 }}
          </p>
        {% endif %}
        <div class="post-meta flex-grow-1 d-flex align-items-end">
          <div class="me-auto"> 
            <i class="far fa-calendar fa-fw me-1"></i> 
            <em>{{ post.date | date: "%b %-d, %Y" }}</em>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>
