/* 
    Firoj Personal Website Custom Style
*/
.skip-links {
    display: none;
}

.visually-hidden,
.screen-reader-text,
.screen-reader-text span,
.screen-reader-shortcut {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px !important;
    width: 1px !important;
    border: 0 !important;
    overflow: hidden;
}

#topbar-wrapper {
    z-index: 9999;
    padding: 10px 15px;
    background: #fff;
    position: sticky;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.07);
    
}

#main-wrapper {
    padding: 30px 0;
}
@media (min-width: 992px) {
    #topbar-wrapper {
        padding: 10px 50px;
        &.sticky {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            background-color: #92dfff;
        }
    }
}

.greedy-nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.site-title {
    font-size: 30px;
    color: #6f777d;
    font-weight: 700;

    &:hover {
        color: #333;
    }
}

.main-menu {
    .menuicon {
        position: absolute;
        right: 20px;
        width: 20px;
        height: 20px;
        top: 20px;
        cursor: pointer;
    }
    .nav-menu {
        display: none;
        .active & {
            display: block;
        }
        li {
            a {
                color: var(--heading-color);
                font-size: 16px;
                padding: 6px 0;
                display: inline-block;
            }
        }
    }
    &.mobilemenu {
        .nav-menu {
            position: absolute;
            background: #fff;
            width: 100%;
            left: 0;
            top: 65px;
            padding: 30px;
            list-style: none;
            margin: 0;
            display: block;
            box-shadow: 0 10px 30px #0000001f;
        }
    }
}

@media (min-width: 992px) {
    .main-menu {
        display: flex;
        justify-content: flex-end;
        flex: 1;
        flex-wrap: wrap;
        .menuicon {
            display: none;
        }
        .nav-menu {
            list-style: none;
            margin: 0;
            display: flex;
            li {
                a {
                    display: block;
                    margin: 0 1rem;
                    color: #6f777d;
                    text-decoration: none;
                    transition: none;
                    font-size: 20px;
        
                    &:hover {
                        color: #000;
                    }
                }
        
                &:last-child {
                    a {
                        padding-right: 0;
                    }
                }
            }
        }
    }
}

.sidebar {
    padding: 2.3rem;

    ul {
        list-style: none;
    }
}

.social-icons {
    padding-left: 0;

    li {
        margin-bottom: 10px;

        a {
            i {
                margin: 0;
            }
        }
    }
}

.btn {
    padding: 0px 12px;

    &:hover {
        border-color: 3px solid var(--text-color);
    }
}

.btnPub--abstract {
    border: 3px solid #048b29;
}

.btnPub--BibTex {
    border: 3px solid #a4059b;
}

.btnPub--supplement {
    border: 3px solid #9ea705;
}

.sidebar__right {
    display: none;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.dropDownBibtex {
    margin: 20px 0;
}

.page__footer-follow {
    margin-right: 20px;

    .social-icons {
        display: flex;
        list-style: none;
        margin-bottom: 0;

        li {
            margin-bottom: 0;
        }
    }
}

/* post card style */
.card-wrapper {
    &:not(:last-child) {
        margin-bottom: 1.25rem;
    }

    .card {
        .preview-img {
            width: 20rem;
            height: 11.55rem;

            @media (min-width: 768px) {
                border-radius: 0 .5rem .5rem 0;
            }
        }

        .card-body {
            min-height: 9rem;
            padding: 1rem;
            position: relative;
            z-index: 1;

            .card-title {
                font-size: 1.25rem;

                a {
                    color: var(--heading-color);
                }
            }
        }
    }
}

.pagination {
    margin-top: 30px;

    a,
    span {
        margin-right: 10px;
    }
}

.page__meta {
    margin: 0;
}

.page__share {
    a {
        border: 1px solid #333;

        i {
            margin: 0;
        }
    }
}

footer p {
    text-align: left;
}

.twitter {
    position: relative;
    z-index: 999;
    height: 425px;
    overflow-y: scroll;
    overflow-x: hidden;

    ::scrollbar-width {
        width: 1px;
    }

    ::-webkit-scrollbar {
        width: 2px;
    }
}

.tab-menu {
    margin-top: 34px;
}

.tab-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        display: inline-block;
        text-align: center;
        margin-bottom: 20px;
        a {
            text-transform: uppercase;
            display: inline-block;
            display: block;
            text-decoration: none;
            transition: 0.5s all;
            padding: 5px 20px;
            border-radius: 4px;
            color: var(--heading-color);
            margin-right: 10px;
            position: relative;
            box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
            &::after {
                position: absolute;
                content: '';
                left: 0;
                top: 17px;
                width: 5px;
                height: 5px;
                background: var(--heading-color);
                border-radius: 50%;
                opacity: 0;
            }
            &.active {
                background-color: var(--heading-color);
                color: #fff;
                &::after {
                    opacity: 0;
                }
            }
        }
    }
}


.tab-box {
    display: none;
    &.active {
        display: block;
    }
}

.tab-teaser {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.tab-main-box {
    padding: 30px 0;
    margin-top: -2px
}


.dropDownAbstract{
	display: none; 
	position: relative;
	border-left: 3px solid var(--text-color); 
	padding-left: 10px
}
   
.dropDownBibtex{
	display:none; 
	position:relative;
}