---
---
<!doctype html>
<html data-mode="light" lang="{{ site.locale | slice: 0,2 | default: "en" }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}">
    
    <div id="topbar-wrapper">
      {% include_cached skip-links.html %}
      {% include_cached browser-upgrade.html %}
      {% include_cached masthead.html %}
    </div>
    
    <div id="sidebar" class="d-flex flex-column align-items-end">
      {% include sidebar.html %}
    </div>
    
    <div id="main-wrapper" class="d-flex justify-content-center">
      <div id="main" class="container px-xxl-5">
        
          <div class="row mb-5">
            <div id="core-wrapper" class="col-12 col-lg-11 col-xl-9 pe-xl-4">
              {{ content }}
            </div>
            <div id="panel-wrapper" class="col-xl-3 ps-2 text-muted">
              <div id="toc-wrapper" class="ps-0 pe-4 mb-5">
                <div class="panel-heading ps-3 pt-2 mb-2">Contents</div>
                <nav class="toc_wrap"></nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% if site.search == true %}
      <div class="search-content">
        {% include_cached search/search_form.html %}
      </div>
    {% endif %}

    
      <footer >
        <div class="container px-lg-4">
          <div class="d-flex justify-content-center align-items-center text-muted mx-md-3">
            {% include footer/custom.html %}
            {% include_cached footer.html %}
          </div>
        </div>
      </footer>
    

    {% include scripts.html %}

  </body>
</html>
